:root {
}
* {
  margin: 0;
}
body {
  font-family: 'Ropa Sans', sans-serif;
  margin-top:0px;
  background: #eee;
}
.ui.fluid.card{
  box-shadow: none;
  border-radius: 0px;
}
.ui.button{
  border-radius: 0px;
}

.fas, .far{
  padding-right: 10px;
}

.button-actions .fas{
  padding:0;
}
.fa-bug{
  color:rgb(197, 64, 64);
}

.menu{
  box-shadow: none !important;
  width:auto !important;
}
.card-header{
  font-weight: 500 !important;
  font-size: 20px !important;
  padding: 0px !important;
}

.card-header-title{
  font-weight: 600 !important;
  padding:20px !important;
  position: absolute !important;
}

.card-actions-dropdown{
  left: -30px !important;
  top: 50px !important;
}

.card-menu{
  margin: 5px !important;
}